{% extends "mainApp/base.html" %} {% block content %}
<h1>Students</h1>
<div class="table-responsive">
    <table class="table table-bordered border-primary rounded-pill">
        <thead class="table-light">
            <tr>
                <th>Name</th>
                <th>Email ID</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for s in student %}
            <tr>
                <td>{{s.name}}</td>
                <td>{{s.email}}</td>
                <td>{{s.phone}}</td>
                <td>{{s.address}}</td>
                <td>
                    <center>
                        <a
                            class="btn btn-success w-100 h-100"
                            href="manageStudents/update/{{s.id}}"
                        >
                            Edit
                        </a>
                    </center>
                </td>
                <td>
                    <center>
                        <a
                            class="btn btn-danger w-100 h-100"
                            href="manageStudents/delete/{{s.id}}"
                        >
                            Delete
                        </a>
                    </center>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
